

<style>
  .box{
    display: none;
    height: 50%;
    width:50%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
  }
</style>


<h1> Explorer Terminal </h1>

<br>
<br>

<%= form_with(url: boards_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
  <%=button_tag 'New Board', type: 'submit', class: 'button is-small'%>
<% end %>

<br>
<br>

<%count = 1 %>
<% @boards.each do |board| %>

  Board <%= count %>: <a href=<%= "/boards/" + board.id.to_s %>>Link</a>
  <div class="box">
    <iframe src= <%="/boards/"+board.id.to_s %>, width = "600px", height = "600px" style = "border-top:3px solid black;">
    </iframe>
  </div>
  <br>
  <br>
  <% count += 1 %>


<% end %>

<!--This live preview for <a href="https://en.wikipedia.org/">Wikipedia</a>-->
<!--<div class="box">-->
<!--  <iframe src="http://localhost:3000/boards/2" width = "500px" height = "500px">-->
<!--  </iframe>-->
<!--</div>-->
<!--remains open on mouseover.-->