<!--cells.each {|row| print("#{row}\n")}-->

<div style = "text-align: center; margin-top: 100px">
  <% @cells.length.times do |row| %>
    <% @cells[row].length.times do |col| %>
      <%if @cells[row][col] == 1 %>

<!--        local = true ensures that the page will refresh after the submission is complete-->
        <%= form_with(url: flip_cell_path, local:true, method: "get", :html => { :style => 'display:inline;' }) do %>
          <%= hidden_field_tag(:coordinates, {"row" => row, "col"=> col}) %>
          <%= submit_tag( "L [#{row}, #{col}]", style: "background-color: #99ffcc") %>
        <% end %>

      <%else%>
        <%= form_with(url: flip_cell_path, local:true, method: "get", :html => { :style => 'display:inline;' }) do %>
          <%= hidden_field_tag(:coordinates, {"row" => row, "col"=> col}) %>
          <%= submit_tag( "D [#{row}, #{col}]") %>
        <% end %>

      <% end %>

    <% end %>
    <br>

<% end %>

</div>

<%= form_with url: flip_cell_path do |form| %>
  <%#= form.text_field :title %>
  <%#= f.submit 'A' %>
<% end %>



<%#= f.button  :submit , name: "subaction",value: "update"%>




<br>

<%= button_to "Next State", next_state_path, :id => "open-contacts-dialog-btn",
              :class => "inbox-sf-add-btn tip", :method => :get %>

<br>

<%= button_to "Restart State", restart_state_path, :id => "open-contacts-dialog-btn",
              :class => "inbox-sf-add-btn tip", :method => :get %>
<br>

<%= link_to 'Back', boards_path %>





<!--Same as-->
<%#= link_to 'Back', boards_path %>