
<nav class="navbar is-success" role="navigation" aria-label="main navigation" style = 'margin-bottom: 90px'>
  <div class="navbar-brand">
<!--    #dccbb1-->



    <div style = "margin:30px" class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </div>
      <div class="navbar-item title is-5 ">
        <p  style = "margin-right:30px"><%="Current Generation: #{@board.generation}" %></p>
        <p style = "margin-right:30px"><%= "Live Cells: " + @board.alive_count.to_s%></p>
        <p style = "margin-right:30px"><%= "Dead Cells: " + @board.dead_count.to_s%></p>
      </div>
    </div>
</nav>



<div class="columns">
  <div class="column" id = "column_1">
    <div style = "margin-left: 40%">


      <p class = "subtitle is-4" style = 'margin-bottom: 5px'>Custom Board:</p>
      <p class = "is-size-7" style = "margin-left: 3px"	>Takes in a 2D Array of 1s and 0s... </p>
      <%= form_with(url: custom_board_path, method: "post") do %>
        <div style = "width:250px; margin-bottom: -15px">
        <%= text_area_tag(:custom_board, "", class: 'textarea is-primary', style: "width:10%") %>
        </div>
        <br>
        <%= submit_tag("Create" ) %>
      <% end %>
      <br>



      <p class = "subtitle is-4" style = 'margin-bottom: 5px'>Rows:</p>
      <%= form_with(url: add_row_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
        <%= hidden_field_tag(:add_right_row, true) %>
        <%=button_tag '+', type: 'submit', class: 'button is-small is-rounded', style: "width:35px" %>
      <% end %>

      <%= form_with(url: remove_row_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
        <%= hidden_field_tag(:remove_right_Row, true) %>
        <%=button_tag '-', type: 'submit', class: 'button is-small is-rounded', style: "width:35px" %>
      <% end %>

      <br>
      <br>
      <p class = "subtitle is-4" style = 'margin-bottom: 5px'>Columns:</p>

      <%= form_with(url: add_col_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
        <%= hidden_field_tag(:add_bottom_col, true) %>
        <%=button_tag '+', type: 'submit', class: 'button is-small is-rounded', style: "width:35px" %>
      <% end %>

      <%= form_with(url: remove_col_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
        <%= hidden_field_tag(:remove_bottom_Col, true) %>
        <%=button_tag '-', type: 'submit', class: 'button is-small is-rounded', style: "width:35px" %>
      <% end %>



    <br>

      <br>
      <%= button_to "Next State", next_state_path, class: 'button is-medium is-rounded is-outlined is-primary' %>
      <br>

      <%= button_to "Restart State", restart_state_path, class: 'button is-medium is-rounded is-outlined is-warning' %>
      <br>

      <%= button_to "Save as Initial State", save_as_initial_state_path, class: 'button is-medium is-rounded is-outlined is-link' %>
      <br>

      <%= button_to "Delete Board", board_path, :method => :delete, class: 'button is-medium is-danger is-rounded is-outlined' %>

    <br>
      <%= link_to 'Back', boards_path %>
    </div>
  </div>

  <div class="column is-three-fifths" style = 'display: flex;justify-content: center;'>

    <div style = " margin-top: 50px;">

      <% @cells.length.times do |row| %>
        <% @cells[row].length.times do |col| %>
          <%if @cells[row][col] == 1 %>

            <!--        local = true ensures that the page will refresh after the submission is complete-->
            <%= form_with(url: flip_cell_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
              <%= hidden_field_tag(:coordinates, "{\"row\" : #{row}, \"col\": #{col}}") %>
              <%= submit_tag( "L",class: "button is-primary is-rounded", style: "margin: 2px; height:40px; width:40px") %>
            <% end %>

          <%else%>
            <%= form_with(url: flip_cell_path, local:true, method: "post", :html => { :style => 'display:inline;' }) do %>
              <%= hidden_field_tag(:coordinates, "{\"row\" : #{row}, \"col\": #{col}}") %>
              <%= submit_tag( "D",class: "button is-danger is-rounded is-outlined", style: "margin: 2px; height:40px; width:40px") %>
            <% end %>

          <% end %>

        <% end %>
        <br>
      <% end %>

    </div>
  </div>

  <div class="column">

    <%= form_with(url: custom_stay_alive_count_path, method: "post") do %>

      <p style = 'margin-bottom: -10px; margin-left: -7px' class = "subtitle is-4 has-text-link">Stay Alive Count: <%= @stay_alive_count %></p>
      <br>
      <%= check_box_tag('1')%>
      <%= label_tag('1', "1") %>
      <br>
      <%= check_box_tag('2') %>
      <%= label_tag('2', "2") %>
      <br>
      <%= check_box_tag('3') %>
      <%= label_tag('3', "3") %>
      <br>
      <%= check_box_tag('4') %>
      <%= label_tag('4', "4") %>
      <br>
      <%= check_box_tag('5') %>
      <%= label_tag('5', "5") %>
      <br>
      <%= check_box_tag('6') %>
      <%= label_tag('6', "6") %>
      <br>
      <%= check_box_tag('7') %>
      <%= label_tag('7', "7") %>
      <br>
      <%= check_box_tag('8') %>
      <%= label_tag('8', "8") %>
      <br>

      <%= submit_tag("Confirm", style: "margin-top: 10px; margin-left: -4px") %>
    <% end %>

    <br>

    <%= form_with(url: custom_revive_count_path, method: "post") do %>
      <p style = 'margin-bottom: -10px; margin-left: -7px' class = "subtitle is-4 has-text-link">Revive Count: <%= @revive_count %></p>
      <br>
      <%= check_box_tag('1') %>
      <%= label_tag('1', "1") %>
      <br>
      <%= check_box_tag('2') %>
      <%= label_tag('2', "2") %>
      <br>
      <%= check_box_tag('3') %>
      <%= label_tag('3', "3") %>
      <br>
      <%= check_box_tag('4') %>
      <%= label_tag('4', "4") %>
      <br>
      <%= check_box_tag('5') %>
      <%= label_tag('5', "5") %>
      <br>
      <%= check_box_tag('6') %>
      <%= label_tag('6', "6") %>
      <br>
      <%= check_box_tag('7') %>
      <%= label_tag('7', "7") %>
      <br>
      <%= check_box_tag('8') %>
      <%= label_tag('8', "8") %>
      <br>
      <%= submit_tag("Confirm", style: "margin-top: 10px; margin-left: -4px") %>
    <% end %>


  </div>


  </div>


